* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d75ff;
  border-radius: 10px;
}

/* header */
header {
  position: fixed;
  width: 100%;
  background: #f8fafd;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  z-index: 500;
  top: 0;
}

.headerFather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* .logo  */
.logoIcon {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Dancing Script" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

/* form */
.fatherInput {
  position: relative;
}

.searchInput {
  width: 670px;
  padding: 17px 48px;
  background: #f8fafd;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: none;
}

.iconSearch {
  position: absolute;
  left: 15px;
  top: 14px;
  font-size: 20px;
  color: #b8b9be;
}

.moon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* login */
#login {
  background: #0d75ff;
  border-radius: 4px;
  padding: 10px 23px;
  border: none;
  color: #fff;
  cursor: pointer;
  border: 2px solid #0d75ff;
}

#login:hover {
  border: 2px solid #0d75ff;
  background-color: #fff;
  color: #0d75ff;
}

/* day */
.borderFather {
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  width: 100%;
}

.day p {
  margin-left: 25px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month {
  background: #a6b0c3;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 10px 10px;
}

/* main */
.mainFather {
  position: fixed;
  top: 110px;
  background: #ffffff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  width: 268px;
  max-height: 600px;
  padding: 25px;
  margin-top: 40px;
  border-radius: 15px;
  z-index: 100000;
  display: none;
}

.activeThree {
  display: block;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mainText h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.mainText p {
  width: 218px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 155.6%;
  color: #000000;
}

/* cards */
.books {
  display: flex;
  gap: 20px;
}

.cardFather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 35px;
}

.cardsColor {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  width: 280px;
  margin-top: 40px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imgColor {
  display: flex;
  justify-content: center;
  background: #f8fafd;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 2px;
  margin-top: 20px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
  margin-bottom: 2px;
}

.year {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
  margin-bottom: 10px;
}

.btnFather {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookMark {
  background: #ffd80d;
  border-radius: 4px;
  padding: 10px 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  cursor: pointer;
}

.bookMark:hover {
  opacity: 0.5;
}

.moreInfo:hover {
  opacity: 0.5;
}

.read:hover {
  opacity: 0.5;
}

.moreInfo {
  background: rgba(13, 117, 255, 0.05);
  border-radius: 4px;
  padding: 10px 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0d75ff;
  border: none;
  cursor: pointer;
}

.read {
  background: #75828a;
  border-radius: 4px;
  padding: 10px 25px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

/* swiper */

.swiper {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: 180px;
}

.swiper-slide img {
  width: 100%;
  border-radius: 10px;
}

/* save */
.saved {
  position: relative;
  cursor: pointer;
}

.save {
  position: absolute;
  font-size: 30px;
  top: 10px;
}

/* options */
select {
  cursor: pointer;
  background: #a6b0c3;
  border-radius: 4px;
  border: none;
  padding: 7px 12px;
  color: #fff;
}

option {
  cursor: pointer;
}

/* loader */
.amazon {
  position: absolute;
  width: 200px !important;
  top: 25px;
  right: 20px;
}
.mark {
  position: relative;
  cursor: pointer;
}

.marks {
  position: absolute;
  font-size: 35px !important;
}

/* notFond */
.fatherNot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.notFound {
  display: none;
}

/* loader */
.fatherLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.loading {
  position: fixed;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1000;
}

.hover {
  animation: hover 6s ease-in-out infinite;
}

.fatherTwoCards {
  display: flex;
}

.textFathers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.books {
  position: relative;
}

.books h2 {
  position: absolute;
  font-size: 25px;
  font-weight: 400;
}

.imgColor-posts {
  width: 150px;
  height: 200px;
  transition: all 0.5s ease;
}

/* loader */
.loader {
  --background: linear-gradient(90deg, #23c4f8, #275efe);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: rgba(38, 49, 66, 0.6);
  --page: rgba(255, 255, 255, 0.4);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 400px;
  height: 140px;
  position: relative;
}

.loader .book-left {
  width: 33%;
  height: 70%;
  transform: rotate(90deg) skew(-4deg);
  border-radius: 0 0 12px 12px;
  position: absolute;
  top: 25px;
  left: 86px;
  background-image: var(--background);
  box-shadow: 4px 0px 10px var(--shadow);
}

.loader .book-right {
  width: 33%;
  height: 70%;
  transform: rotate(90deg) skew(4deg);
  border-radius: 12px 12px 0 0;
  position: absolute;
  top: 25px;
  right: 86px;
  background-image: var(--background);
  box-shadow: 4px 0px 10px var(--shadow);
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.loader div ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
  width: 200px;
}

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  -webkit-transform: rotateY(var(--r));
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}

.loader div ul li svg {
  width: 90px;
  height: 140px;
  display: block;
}

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}

.loader div ul li:last-child {
  --o: 1;
}

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 30px;
  text-align: center;
  color: #000 !important;
}

.loader span:after {
  position: absolute;
  content: "";
  -webkit-animation: Dots 2s cubic-bezier(0, 0.39, 1, 0.68) infinite;
  animation: Dots 2s cubic-bezier(0, 0.39, 1, 0.68) infinite;
}

.loader div.title {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.4px;
  line-height: 1.4;
  text-transform: uppercase;
  display: block;
  top: 100%;
  text-align: center;
  color: rgba(38, 49, 66, 0.8);
  top: 0;
  margin: 24px 0 0 0;
  height: unset;
}

/* Dots */
@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
@-webkit-keyframes page-2 {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%,
  100% {
    opacity: 0;
  }
  50%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes page-2 {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%,
  100% {
    opacity: 0;
  }
  50%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes page-3 {
  15% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
  65%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes page-3 {
  15% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
  65%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes page-4 {
  30% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 0;
  }
  80%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes page-4 {
  30% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 0;
  }
  80%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes page-5 {
  45% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
  95%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes page-5 {
  45% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
  95%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes page-5 {
  45% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
  95%,
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes hover {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.fthareAddDel {
  height: 380px;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.bgAdd {
  background: #f8fafd;
  border-radius: 5px;
  padding: 5px 15px;
}

.bgAdd h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.bgAdd p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
}

.del {
  color: #0d75ff;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* address */
.address {
  color: #0d75ff;
  font-size: 30px;
  cursor: pointer;
}
/* 404 */
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-position: center;
  width: 600px;
  height: 400px;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  text-align: center;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.logoIpsum {
  width: 50px;
  height: 70px;
}
